<?xml version="1.0" encoding="UTF-8"?>
<suite name="TestDependency">

  <test name="TestCase1">

    <classes>
      <class
        name="com.yiibai7.TestApp">
      </class>
      <class
        name="com.yiibai7.TestDatabase">
      </class>
      <class
        name="com.yiibai7.TestServer">
      </class>
    </classes>

  </test>

</suite>